# Virtual environment
venv/

# Large data files
data/
outputs/*.parquet

# Python cache
__pycache__/
*.pyc
*.pyo
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env
**/*.parquet
